body {
    
  margin: 0px;
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  
}
  

/* Info Text */

.section-header  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 264px;

}





/* Form */

* {
  box-sizing: border-box;
}


  form.example {

  margin-left:auto;
  margin-right:auto;
  width:653px;
  height: 63px;
  }
  
  /* Style the search field */
  form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  }
  
  form.example button:hover {
  background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
  content: "";
  clear: both;
  display: table;
  }



/* Add a black background color to the top navigation */
.topnav {
  background-color: #5474FD;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 25px 15px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
font-family: 'Josefin Sans', sans-serif;
font-size: 24px;
line-height: 26px;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
font-family: 'Aleo', serif;
font-size: 14px;
line-height: 26px;
float: right;
}

.arrow-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  color: white;
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}